ClMATE/__pycache__
ClMATE_DB.db
__pycache__
clmate_log.txt
__DB_BACKUP__
sims_data
database_merge_and_y12_analysis.ipynb
.ipynb_checkpoints/
Notebooks/Output
Notebooks/__pycache__
Notebooks/ClMATE_DB.db